.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  position: relative;
  width: 362px;
  height: 686px;

  background: #0D1119;
  border-radius: 10px;

  overflow: hidden;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.dish-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 369px;
  height: 24px;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.dish-name {
  width: 110px;
  height: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-right: 100px;
  color: #FFFFFF;

}

.social-share {
  display: flex;

  & a {
    margin-right: 5px;
    padding: 7px;
    gap: 5px;

    width: 7px;
    height: 7px;

    background: #454A5F;
    border-radius: 30px;
    position: relative;
  }
}

.icon {
  color: white;
  font-size: 8px;
  position: absolute;
  left: 30.5%;
}

.dish-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px 20px;
  margin-left: 12px;
  margin-top: 16px;

  width: 298px;
  min-height: 228px;

  border-radius: 6px;

}

.dish-card-1 {

  background: #17CFC4;

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 10px; */
    gap: 10px;
  }

  .difficulty {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0D1119;
  }

  & p {
    line-height: 24px;
  }

  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 292px;
    height: 40px;
    background: #1D2A43;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
}

.dish-card-2 {
  background: #131823;
  min-height: 220px;

  .card-body {
    display: flex;
    flex-wrap: wrap;
  }

  .info-row {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    margin-bottom: 16px;
  }

  .info-label {

    width: 49px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #7185AA;
  }

  .info-value {
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .txt-wht {
    color: #FFFFFF;
  }

  .grd1 {
    background: linear-gradient(136.39deg, #2BF1E5 3.18%, #40E33D 102.04%);
  }
  .grd2 {
    background: linear-gradient(136.39deg, #FFBF43 3.18%, #FF4869 102.04%);
  }

  .txt-grd {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}