.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  position: relative;
  width: 362px;
  min-height: 686px;

  background: #0D1119;
  border-radius: 10px;

  overflow: hidden;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 3px;
}

.dish-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px 20px;
  margin-left: 12px;
  width: 298px;
  border-radius: 6px;
}
