.search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 11px;
    gap: 10px;

    width: 314px;
    height: 24px;

    background: #131823;
    color: azure;
    /* Borders / Dark / Text Input / Field Border */

    box-shadow: -1px -1px 0px 1px #5B6178;
    border-radius: 6px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

input[type="text"] {
    padding-left: 40px;
  }

.search-input-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.search-input::-webkit-input-placeholder {
    width: 111px;
    height: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #7185AA;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.dish-option {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(136.39deg, #bdc3c7  3.18%, #2c3e50 102.04%);
    cursor: pointer;
    text-align: left;
    border-radius: 12px;
    margin: 5px 0;
  }
  
  .dish-option:hover {
    background: linear-gradient(136.39deg, #de6262  3.18%, #ffb88c 102.04%);
  }
  
  .dish-option.active {
    background: linear-gradient(136.39deg, #eacda3  3.18%, #d6ae7b 102.04%);
  }
  